/*overlay.css*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  /* the overly bar when closed*/
  left: 0;
  background-color:black;
  background-color: rgba(0,0,0,0.89);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
	padding-top: 30px;
  padding-right: 20px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover{
  color: green;
}

.sidenav .closebtn {
  position: absolute;
  top: 3px;
  right: 30px;
  font-size: 40px;
 }


@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
  .sidenav .closebtn{
  	font-size: 15px;
  	top: 15px;
  	right: 35px;
  }
}
#overlay-content{
	padding-top:30px;
	text-align: center;
	color: white;
  font-weight: bolder;
  font-family: times new romans;
	font-size: 50px;
}

#main{
  margin: 0px;
  margin-left: 10px;
  background-color: grey;
  color: maroon;
  width: 100%;
  height: 0px;
}

/* styling for the slideshow container and everything*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	cursor: no-drop;
  position: relative;
  margin: auto;
  max-width: 2000px;
  border-style: ridge;


}
@media only screen and (max-width:600px) {

 .slideshow-container{
  height: 50%;
  width: 100%;
 }
}



/* The dots below the pictures */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active {
  background-color:black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 2);
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: maroon;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: green;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: blue;
  text-decoration: underline;
}

#newsheader{
  background-color: silver;
  margin:0;
}
.download{
  border-style: inset;
}
#footer{
  margin-bottom: 0;
  margin-left: 0;
  background-color: grey;
  font-size: 12px;
}